/* ****************************************CHANGE COLOR OF TEXT IN LINK */
a:visited {
    color: black;
  }
  
  a:hover {
    color: white;
  }
  a:link{
    text-decoration: none;
  }

.con-left{
    background-color: sandybrown;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
    padding-right: 0px;
    height: 450px;
    text-align: center;
    padding-top: 5px;
}
.con-left-text{
    background-color: sandybrown;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 0px;
    height: 144.4px;
    text-align: center;
    padding-top: 25px;
}
.con-left-fb{
    margin: 5px 30% 0px;
    /* margin:   30%; */
    /* padding: 5px; */
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    color: black;
    font-size: 30px;
}
.con-left-email{
    margin: 5px 30%;
    /* padding: 5px; */
    border-color: black;
    border-style: solid;
    border-radius: 50px;
    color: black;
    font-size: 30px;
}
.con-left-phone{
    margin: 5px 30%;
    padding: 5px;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    color: black;
    font-size: 30px;
}
.highlight{
    background-color: wheat;
    font-size: 17px;
    border-radius: 10px;
}
.highlight1{
    background-color: wheat;
    font-size: 17px;
    border-radius: 10px;
}
/* **************************************************HOVER FACEBOOK */
/* Back Pulse */
@-webkit-keyframes con-left-fb {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  @keyframes con-left-fb {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  .con-left-fb {
    /* display: inline-block; */
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .con-left-fb:hover, .con-left-fb:focus, .con-left-fb:active {
    -webkit-animation-name: con-left-fb;
    animation-name: con-left-fb;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
  }
/* **************************************************HOVER EMAIL */
/* Back Pulse */
@-webkit-keyframes con-left-email {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  @keyframes con-left-email {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  .con-left-email {
    /* display: inline-block; */
    /* vertical-align: middle; */
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
  }
  .con-left-email:hover, .con-left-email:focus, .con-left-email:active {
    -webkit-animation-name: con-left-email;
    animation-name: con-left-email;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #2098D1;
    background-color: #2098d1;
    color: white;
  }


.con-icon{
    width: 30px;
    height: 25px;
    padding-right: 5px;
    margin-bottom: 0px;
}


.con-right{
    background-color: wheat;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-top: 5px;
    padding-left: 0px;
   
}
.contact-h1{
    text-align: center;
}
.map{
    margin-left: 5px;
    margin-right: 5px;
    overflow: hidden;
   
}
.g-map{
    padding-top: 5px;
    height: 450px;
    width: 100%;
}

/* *********************************REMOVE MARGIN BOTTOM */
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top:5px;
    margin-bottom: 0px;
}

/* **********************************REMOVE SPACE BETWEEN COLUMNS */
.row {
    --bs-gutter-x: 0px;
}