
.footer-div{
    background-color: #2bc6ea;
    text-align: center;
    padding: 10px 5px;
    margin-top: 0px;
    margin-bottom: 0%;
    font-weight: 900;
}
.footer-li{
    display: inline;
    margin-bottom: 0%;

}